{% extends "DRPlatformBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Ajouter{% endblock %}

    {% block body %}
        <div class="container">
            <div id="formArtpurchase">
                 <h3>Ajouter un Achat</h3>
                 <div class="well">
                    {{ form(addArtpurchase) }}
                 </div>
            </div>
        </div>
        <div class="container">
            {# Ajouter un Type#}
            <div id="formType" class="col-lg-6">
                <h3>Ajouter un Type</h3>
                <div class="well">
                    {{ form_start(addType) }}
                    <div class="form-group" id="name_formType">
                        {{ form_label(addType.name, "Nom : ") }}
                        {{ form_widget(addType.name, {'attr': {'class': 'form-control', 'placeholder': 'Nom du type'}}) }}
                    </div>
                    {{form_widget(addType.save, {'label':'Ajouter','attr': {'class': 'btn btn-success'}}) }}
                    {{ form_end(addType) }}
                </div>
            </div>
            {# Ajouter un Dossier#}
            <div id="formFolder" class="col-lg-6">
                <h3>Ajouter un Dossier</h3>
                <div class="well">
                    {{ form_start(addFolder) }}
                    <div class="form-group" id="refnum_formFolder">
                        {{ form_label(addFolder.refnum, "Références : ") }}
                        {{ form_widget(addFolder.refnum, {'attr': {'class': 'form-control', 'placeholder': 'Références du dossier'}}) }}
                    </div>
                    <div class="form-group" id="name_formFolder">
                        {{ form_label(addFolder.name, "Nom : ") }}
                        {{ form_widget(addFolder.name, {'attr': {'class': 'form-control', 'placeholder': 'Nom du dossier'}}) }}
                    </div>
                    {{form_widget(addFolder.save, {'label':'Ajouter','attr': {'class': 'btn btn-success'}}) }}
                    {{ form_end(addFolder) }}
                </div>
            </div>
            {# Ajouter un Fournisseur#}
            <div id="formSupplier" class="col-lg-6">
                <h3>Ajouter un Fournisseur</h3>
                <div class="well">
                    {{ form_start(addSupplier) }}
                    <div class="form-group" id="society_formSupplier">
                        {{ form_label(addSupplier.suppliersociety, "Société : ") }}
                        {{ form_widget(addSupplier.suppliersociety, {'attr': {'class': 'form-control', 'placeholder': 'Nom de la société'}}) }}
                    </div>
                    {{form_widget(addSupplier.save, {'label':'Ajouter','attr': {'class': 'btn btn-success'}}) }}
                    {{ form_end(addSupplier) }}
                </div>
            </div>
            {# Ajouter un Client#}
            <div id="formCustomer" class="col-lg-6">
                <h3>Ajouter un Client</h3>
                <div class="well">
                    {{ form_start(addCustomer) }}
                    <div class="form-group" id="society_formCustomer">
                        {{ form_label(addCustomer.customersociety, "Société : ") }}
                        {{ form_widget(addCustomer.customersociety, {'attr': {'class': 'form-control', 'placeholder': 'Nom de la société'}}) }}
                    </div>
                    {{form_widget(addCustomer.save, {'label':'Ajouter','attr': {'class': 'btn btn-success'}}) }}
                    {{ form_end(addCustomer) }}
                </div>
            </div>
            {# Ajouter une Zone#}
            <div id="formArea" class="col-lg-6">
                <h3>Ajouter une Zone</h3>
                <div class="well">
                    {{ form_start(addArea) }}
                    <div class="form-group" id="country_formArea">
                        {{ form_label(addArea.country, "Pays : ") }}
                        {{ form_widget(addArea.country, {'attr': {'class': 'form-control', 'placeholder': 'Nom du pays'}}) }}
                    </div>
                    {{form_widget(addArea.save, {'label':'Ajouter','attr': {'class': 'btn btn-success'}}) }}
                    {{ form_end(addArea) }}
                </div>
            </div>
            {# Ajouter un Support#}
            <div id="formSupport" class="col-lg-6">
                <h3>Ajouter un Support</h3>
                <div class="well">
                    {{ form_start(addSupport) }}
                    <div class="form-group" id="name_formSupport">
                        {{ form_label(addSupport.name, "Nom : ") }}
                        {{ form_widget(addSupport.name, {'attr': {'class': 'form-control', 'placeholder': 'Nom du support'}}) }}
                    </div>
                    {{form_widget(addSupport.save, {'label':'Ajouter','attr': {'class': 'btn btn-success'}}) }}
                    {{ form_end(addSupport) }}
                </div>
            </div>
        </div>
        {# <div class="container">
            <table width="100%" border="1">
                <tr>
                    <td width="50%">
                        <form>
                            <h4 align="center">Dossier</h4>
                            <div class="row">
                                <div class="col-lg-1"></div>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" placeholder="Numero de dossier" id="num_dossier"/>
                                </div>
                                <div class="col-lg-1"></div>
                            </div></br>
                            <div class="row">
                                <div class="col-lg-1"></div>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" placeholder="Nom du dossier/projet" id="projet_dossier"/>
                                </div>
                                <div class="col-lg-1"></div>
                            </div></br>   
                            <div class="row">
                                <p align="center">
                                    <button type="submit" class="btn btn-success" align="center">Ajouter !</button>
                                </p>
                            </div>
                        </form>
                    </td>
                    <td width="50%">
                        <form>
                            <h4 align="center">Bon de commande</h4>
                            <div class="row">
                                <div class="col-lg-1"></div>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" placeholder="Numero de bon de commande" id="num_bdc">
                                </div>
                                <div class="col-lg-1"></div>
                            </div></br>
                            <div class="row">
                                <p align="center">
                                    <button type="submit" class="btn btn-success" align="center">Ajouter !</button>
                                </p>
                            </div>
                        </form>                    
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <form>
                            <h4 align="center">Fournisseur</h4>
                            <div class="row">
                                <div class="col-lg-1"></div>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" placeholder="Nom fournisseur" id="nom_fournisseur">
                                </div>
                                <div class="col-lg-1"></div>
                            </div></br>
                            <div class="row">
                                <p align="center">
                                    <button type="submit" class="btn btn-success" align="center">Ajouter !</button>
                                </p>
                            </div>
                        </form>
                    </td>
                    <td width="50%">
                        <form>
                            <h4 align="center">Client</h4>
                            <div class="row">
                                <div class="col-lg-1"></div>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" placeholder="Nom du client" id="nom_client">
                                </div>
                                <div class="col-lg-1"></div>
                            </div></br>
                            <div class="row">
                                <p align="center">
                                    <button type="submit" class="btn btn-success" align="center">Ajouter !</button>
                                </p>
                            </div>
                        </form>
                    </td>
                </tr>
            </table>
        </div> #}
    {% endblock %}